:root {
  --primary-color: #F59E0B;        /* Soft Sand / Warm Ivory */
  --primary-color-rgb: 243, 231, 207;

  --secondary-color: #0A2540;      /* Deep Navy */
  --secondary-color-rgb: 10, 37, 64;
}
